<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">
      Pulse<ion-icon name="pulse-outline" class="white-icon"></ion-icon>Track
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Datos del Paramédico</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <!-- Campo RUT -->
            <ion-item>
              <ion-label position="stacked">RUT:</ion-label>
              <ion-input placeholder="12345678-9" type="text"></ion-input>
            </ion-item>

            <!-- Campo Nombre -->
            <ion-item>
              <ion-label position="stacked">Nombre:</ion-label>
              <ion-input placeholder="Ingrese su nombre" type="text"></ion-input>
            </ion-item>

            <!-- Campo Hospital (Dropdown) -->
            <ion-item>
              <ion-label position="stacked">Hospital:</ion-label>
              <ion-select placeholder="Seleccione un hospital">
                <ion-select-option value="hospital1">Hospital 1</ion-select-option>
                <ion-select-option value="hospital2">Hospital 2</ion-select-option>
                <ion-select-option value="hospital3">Hospital 3</ion-select-option>
              </ion-select>
            </ion-item>

            <!-- Campo Clave -->
            <ion-item>
              <ion-label position="stacked">Clave:</ion-label>
              <ion-input placeholder="Ingrese su clave" type="password"></ion-input>
            </ion-item>

            <!-- Botón de Registro -->
            <ion-button expand="block" shape="round" color="primary" class="ion-margin-top">
              Registrarse
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>