<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">
      Pulse<ion-icon name="pulse-outline" class="white-icon"></ion-icon>Track
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="danger" >
          Nivel 1: Resucitación - ROJO
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" style="--background: #FFA500;">
          Nivel 2: Emergencia - NARANJA
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="warning">
          Nivel 3: Urgencia - AMARILLO
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="success" >
          Nivel 4: Urgencia Menor - VERDE
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" color="primary" style="--background: #0000FF;">
          Nivel 5: Sin Urgencia - AZUL
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
