<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">
      Pulse<ion-icon name="pulse-outline" class="white-icon"></ion-icon>Track
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="4">
        <ion-card>
          <img alt="Ilustración de paramédico"
            src="https://st4.depositphotos.com/2885805/38568/v/450/depositphotos_385683364-stock-illustration-paramedic-emergency-cartoon-composition.jpg"
            style="width: 100%; height: auto;" />
          <ion-card-content class="center-text">
            <b>Antes de revisar cualquier expediente o síntomas, por favor inicie sesión con su RUT y la contraseña que
              se le asignó.</b>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-item class="custom-item">
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-input placeholder="Ingrese su RUT" type="text"></ion-input>
          </ion-item>
          <ion-item class="custom-item">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input placeholder="Ingrese su contraseña" type="password"></ion-input>
          </ion-item>
        </ion-card>

        <ion-button class="custom-button" expand="block" shape="round">
          Iniciar sesión
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>