ion-content {
    --background: #DCF0FF;
  
  }

ion-item{
    --background:#2a60a7;
}

ion-icon{
    font-size: 30px;
}

#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .custom-title {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #61B1E6;
    font-weight: bold;
  
  }
  
  .white-icon {
    color: #ffffff;
  }
  
  ion-toolbar {
    --background: #1C5183;
  }
  
  .custom-button {
    --background: #61B1E6;
    --color: #ffffff; 
    --border-radius: 50px; 
    font-size: 20px;
    padding: 15px; 
    height: 100px; 
  }

  .center-text {
    text-align: center;
    color: #2a60a7;
    background: #61B1E6 ;
  }

  .centered-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: max-content;
  }
  
  
