<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="custom-title">
      Pulse<ion-icon name="pulse-outline" class="white-icon"></ion-icon>Track
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="4">
        
        <!-- Campo para buscar RUT -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Eliminar paramedico</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label position="stacked">RUT:</ion-label>
              <ion-input placeholder="Ingrese el RUT" type="text"></ion-input>
            </ion-item>
            <ion-button expand="block" shape="round" color="primary" class="ion-margin-top">
              Buscar
            </ion-button>
          </ion-card-content>
        </ion-card>

        <!-- Sección de resultados -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Perfil Encontrado</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label><strong>RUT:</strong></ion-label>
                <ion-text>12345678-9</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Nombre:</strong></ion-label>
                <ion-text>Juan Pérez</ion-text>
              </ion-item>
              <ion-item>
                <ion-label><strong>Hospital:</strong></ion-label>
                <ion-text>Hospital 1</ion-text>
              </ion-item>
            </ion-list>
          </ion-card-content>

          <!-- Botón de eliminación -->
          <ion-button expand="block" shape="round" color="danger" class="ion-margin-top">
            Eliminar Perfil
          </ion-button>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
