ion-content {
  --background: #DCF0FF;

}


.ion1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-title {
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #61B1E6;
  font-weight: bold;

}

.white-icon {
  color: #ffffff;
}

ion-toolbar {
  --background: #1C5183;
}