#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

/* Asegúrate de que los botones se centren y ocupen todo el ancho de su columna */
.button-col {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  /* Espacio entre botones, ajusta según sea necesario */
}

ion-button {
  max-width: 300px;
  /* Ajusta el ancho máximo de los botones según tu diseño */
}

.custom-button {
  --background: #61B1E6;
  /* Color de fondo del botón */
  --color: #ffffff;
  /* Color del texto del botón */
  --border-radius: 50px;
  /* Radio del borde para la forma redondeada */
  font-size: 20px;
  /* Tamaño de la fuente del texto en el botón */
  padding: 15px;
  /* Espacio interno del botón, lo que puede agrandar el botón */
  height: 100px; /* Aumenta la altura del botón */
}

.custom-button ion-icon {
  margin-right: 8px;
  font-size: 30px;
  /* Ajusta el espacio entre el icono y el texto */
}

.custom-title {
  text-align: center;
  font-family: 'Arial', sans-serif;
  /* Cambia la fuente */
  font-size: 24px;
  /* Cambia el tamaño de la fuente */
  color: #61B1E6;
  /* Cambia el color de la fuente */
  font-weight: bold;
  /* Cambia el grosor de la fuente */
}

.white-icon {
  color: #ffffff;
  /* Color blanco */
}

ion-content {
  --background: #DCF0FF;

}

ion-toolbar {
  --background: #1C5183;
  /* Cambia el color de fondo del ion-toolbar si es necesario */
}

ion-text {
  text-align: center;
}